.career-container {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.career {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 5px 0px 0px 0px;
}

.career-meta {
  display: flex;
  flex-direction: column;
  padding: 5px 5px 0px 5px;
}

.career-title {
  text-align: center;
  margin-bottom: 10px;
}
