.formContent {
  padding: 20px;
  margin: 40px;
  border: 2px solid black;
  border-radius: 3px;
}

.submitBtn {
  background-color: #2980b9;
  color: white;
  font-weight: 300;
  width: 20%;
  padding: 10px;
  text-align: center;
  border: none;
}

.submitBtn:hover {
  background-color: #3498db;
}

.cancelBtn {
  position: relative;
  float: right;
  background-color: #2980b9;
  color: white;
  font-weight: 300;
  width: 20%;
  padding: 10px;
  text-align: center;
  border: none;
}

.cancelBtn:hover {
  background-color: #3498db;
}

.error {
  border: 2px solid red;
}

.error-text {
  font-size: small;
}
