.event-container {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.event {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 5px 0px 0px 0px;
}

.event-meta {
  display: flex;
  flex-direction: column;
  padding: 5px 5px 0px 5px;
}

.event-title {
  text-align: center;
}

.event-description {
  margin-top: 10px;
  margin-bottom: 5px;
  flex-grow: 3;
  text-align: center;
}

.event-location {
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.event-date {
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
}
