.project-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 5px 25px 5px 25px;
}

.title {
  text-align: center;
}

.description {
  margin-top: 10px;
  margin-bottom: 5px;
  flex-grow: 3;
  text-align: center;
}

.authors {
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.github {
  text-align: center;
}
