.cardBtn-container {
  display: flex;
  order: 99;
  justify-content: space-between;
  flex-flow: column;
}

.adminBtn-container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.cardBtn {
  width: 100%;
  padding: 10px;
  text-align: center;
  color: black;
  border: none;
}

.cardBtn a:hover {
  text-decoration: none;
}

.deleteBtn {
  color: white;
  background-color: #c0392b;
  font-weight: 300;
}

.deleteBtn:hover {
  background-color: #e74c3c;
}

.editBtn {
  background-color: #2980b9;
  color: white;
  font-weight: 300;
}

.editBtn:hover {
  background-color: #3498db;
}

.viewBtn {
  background-color: #57bd13;
  color: white;
  font-weight: 300;
}

.viewBtn:hover {
  background-color: #11a040;
}
