.resource-container {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.resource {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 5px 0px 0px 0px;
}

.resource-meta {
  display: flex;
  flex-direction: column;
  padding: 5px 5px 0px 5px;
}

.resource-title {
  text-align: center;
  margin: 20px;
}

.resource-description {
  margin-top: 10px;
  margin-bottom: 5px;
  flex-grow: 3;
  text-align: center;
}
