.officer-container {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.officer {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 5px 0px 0px 0px;
}

.officer-meta {
  display: flex;
  flex-direction: column;
  padding: 5px 25px 0px 25px;
}

.officer-name {
  text-align: center;
}

.officer-title {
  text-align: center;
  font-size: small;
}

.officer-description {
  margin-top: 0px;
  margin-bottom: 0px;
  flex-grow: 3;
  text-align: center;
  font-size: small;
}

.officer-email {
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  font-size: small;
}

.officer-headshot {
  border-radius: 20px;
  border: 1px solid beige;
  width: 100px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.cardBtn-container {
  display: flex;
  order: 99;
  justify-content: space-between;
}

.cardBtn {
  width: 100%;
  padding: 10px;
  text-align: center;
  color: black;
  border: none;
}

.cardBtn a:hover {
  text-decoration: none;
}

.deleteBtn {
  color: white;
  background-color: #c0392b;
  font-weight: 300;
}

.deleteBtn:hover {
  background-color: #e74c3c;
}

.editBtn {
  background-color: #2980b9;
  color: white;
  font-weight: 300;
}

.editBtn:hover {
  background-color: #3498db;
}
